{% extends "base.html" %}

{% load bootstrap_tags %}
{% load phone_number_filter %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
  <h1>Call Tracking by MarketingBull</h1>

  <div class="row">

    <div class="col-md-5">

      <h2>Welcome to Call Tracking</h2>
      <p>Create a new lead source by purchasing a new phone number. Area code is optional.</p>

    </div>

    <div class="col-md-7">
      <h2>Login</h2>
      <p>Login to your call tracking account.</p>
      <a href="accounts/login">Login</a>
      <div class="row">
        <div class="col-md-6">
          <!--
            <form method="post">
                {% csrf_token %}
              <input id="username" name="username" type="text" placeholder="Username">
              <input id="password" name="password" type="hidden" placeholder="Password">
              <input type="submit" value="Log in" />
            </form>
            -->

            <!-- <a href="{% url 'dashboard' %}">Back to dashboard</a> -->
        </div>
      </div>
    </div>

  </div><!--/row-->
{% endblock %}

{% block page_js %}
{% endblock %}
